<div class="question">
  <h3> Title: <%= @question.title %> </h3>
  <ul>
    <li>Content: <%= @question.content %></li>
    <li>Respones: <%= render @respones %></li>
    <li>Answers: <%= render @answers %></li>
  </ul>
</div>
