<div class="responses">
  <ul>
    <li>
      <%= response.content %> | Posted by: <%= link_to response.user.name, user_path(response.user) %>
      <br>
      <%= button_to "Edit", edit_response_path(response), :method => :get %>
      <%= button_to "Delete", response_path(response), :method => :delete %>
    </li>
  </ul>
</div>